
TitleFont: "Trebuchet MS", "Arial", "Helvetica", "sans-serif";

MinPageWidth: 840px;

body.tpl_main {
	background-image: url("/main_background.jpg");
	font-family: TitleFont;
}

div.tpl_main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

div.tpl_main_header {
	min-width: MinPageWidth;
	max-width: 1500px;
	width: 100%;
	height: 200px;
	overflow: hidden;

	margin-top: 1em;

	text-transform: uppercase;
	font-style: normal;
	font-size: 1.5em;
	font-family: TitleFont;
	font-weight: bold;

	background-image: url("/title.jpg");
	background-position: center;

	border-top-left-radius: 1em 1em;
	border-top-right-radius: 1em 1em;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}



div.new_year_main_header {
	background-image: url("/title_new_year.png");
}

.attention {
	color: #805000;
	margin: 20px;
}

div.textnb_img {
	float: left;
	width: 20%;
	margin: 30px;
	text-align: center;
	font-size: 0.8em;
}

div.textnb_img_right {
	float: right;
}

div.textnb_img img {
	width: 100%;
}

div.swing {
	-moz-animation: swing 5s infinite ease;
	-webkit-animation: swing 5s infinite ease;
	transform-origin: 50% 90%;
}

@-moz-keyframes swing {
	0% {
		-moz-transform: rotate(-5deg);
	}
	50% {
		-moz-transform: rotate(5deg);
	}
	100% {
		-moz-transform: rotate(-5deg);
	}
}

@-webkit-keyframes swing {
	0% {
		-webkit-transform: rotate(-5deg);
	}
	50% {
		-webkit-transform: rotate(5deg);
	}
	100% {
		-webkit-transform: rotate(-5deg);
	}
}

div.banner {
	width: 120px;
	position: absolute;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
-moz-box-shadow:    0px 0px 30px 0px rgba(0, 0, 0, 1);
box-shadow:         0px 0px 30px 0px rgba(0, 0, 0, 1);
	border-radius: 1em 1em;
	margin: 5px;
	padding: 5px;
}

div.banner img {
	width: 100%;
}

div.banner a {
	text-decoration: none;
}

div.banner div.banner_text {
	color: #ffd0d0;
	font-size: 1em;
	text-align: center;
}

div.rock {
	-moz-animation: rock 5s infinite linear;
	-webkit-animation: rock 5s infinite linear;
}

@-moz-keyframes rock {
	0% {
		-moz-transform: rotate(0deg);
	}
	87.5% {
		-moz-transform: rotate(0deg);
	}
	90% {
		-moz-transform: rotate(5deg);
	}
	92.5% {
		-moz-transform: rotate(-5deg);
	}
	95% {
		-moz-transform: rotate(5deg);
	}
	97.5% {
		-moz-transform: rotate(-5deg);
	}
}

@-webkit-keyframes rock {
	0% {
		-webkit-transform: rotate(0deg);
	}
	87.5% {
		-webkit-transform: rotate(0deg);
	}
	90% {
		-webkit-transform: rotate(5deg);
	}
	92.5% {
		-webkit-transform: rotate(-5deg);
	}
	95% {
		-webkit-transform: rotate(5deg);
	}
	97.5% {
		-webkit-transform: rotate(-5deg);
	}
}

div.sea_img {
	width: 100%;
	text-align: center;
}

div.sea_img img {
	width: 90%;
}

ul {
	list-style-image: url('orange.svg');
}






div.tpl_main_header_content {
	width: 100%;
	height: 200px;
	background-color: rgba(0,0,0,0.3);
}

div.float_clean {
	clear: both;
}

/* logo */

div.tpl_main_logo {
	display:table-cell;
	float: left;
	padding: 0.5em;
}

div.tpl_main_logo_1 {
	color: #ffaa00;
}
div.tpl_main_logo_2 {
	color: #ffaa00;
	font-size: 3em;
}

div.tpl_main_contacts {
	display:table-cell;
	float: right;
	text-align: right;
	color: #c7c76d;
	padding: 0.5em;
}

div.tpl_main_contacts a {
	color: #c7c76d;
}

div.tpl_main_content {
	overflow: hidden;

	width: 100%;
	min-width: MinPageWidth;
/*
	background-color: rgba(255,255,255,0.5);
*/
	background-color: #d0d0d0;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	border-bottom-left-radius: 1em 1em;
	border-bottom-right-radius: 1em 1em;
}

aside.tpl_main_left {
	background-color: rgba(255,255,255,0.5);
	width: 20em;
	padding: 1em;
	margin: 1em;

	float: left;
	border-radius: 1em 1em;
}

/* main text styles */

h1 {
	font-style: normal;
	font-size: 1.6em;
	font-family: TitleFont;
	font-weight: bold;
	text-align: center;
	margin: 0.5em;
	color: #303030;
}

h2 {
	font-style: normal;
	font-size: 1.2em;
	font-family: TitleFont;
	font-weight: bold;
	text-align: left;
	margin: 0.8em;
	color: #303030;
}

div.tpl_main_center {
	padding: 1em;
	margin: 1em;
/*
	overflow: hidden;
*/

	border-radius: 1em 1em;

	text-align: justify;
}

div.main_service_title {
	font-style: normal;
	font-size: 1.2em;
	font-family: TitleFont;
	font-weight: bold;
	text-align: left;
	margin: 0.5em;
	color: #303030;
}

details.main_service_details {
	margin-bottom: 1em;
	margin-left: 1em;
	cursor: pointer;
	color: #303030;
}

details.main_service_details[open] {
	margin-bottom: 1em;
	margin-left: 1em;
	cursor: default;
	color: #303030;
}

/* main menu */

a.main_menu {
	color: yellow;
}

div.main_menu_el {
	font-style: normal;
	font-family: TitleFont;
	font-weight: bold;

	color: yellow;
	background-color: rgba(60,60,255,0.7);
	float: left;
	padding: 0.7em;
	margin-left: 0.5em;
	border-bottom-left-radius: 1em 1em;
	border-bottom-right-radius: 1em 1em;
}

div.main_menu_el_current {
	background-color: rgba(60,60,255,1);
	cursor: default;
	height: 2em;
}

div.main_menu_el_selectable {
	transition: box-shadow 0.3s, background-color 0.3s, height 0.3s;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	height: 1em;
}

div.main_menu_el_selectable:hover {
	background-color: rgba(80,80,255,0.8);
	box-shadow: 0 0 6px rgba(0,0,0,0.8);
	height: 1.5em;
}

/* main menu bottom */

div.main_menu_bottom_container {
	text-align: center;
}

div.main_menu_bottom {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}

div.main_menu_bottom_el {
	font-style: normal;
	font-family: TitleFont;
	font-weight: bold;

	float: left;
	padding: 0.7em;
	margin-left: 1.5em;
}

div.main_menu_bottom_el_current {
	cursor: default;
	color: black;
}


div.tpl_main_copyright {
	text-align: right;
	color: #303030;
	font-size: 0.7em;
	margin-top: 0.5em;
}



div.contacts_phone {
	font-size: 1.2em;
	margin-left: 2em;
	font-weight: bold;
	padding: 0.1em;
}

div.weather_informer {
	padding: 0.1em;
	float: right;
}

div.gallery_main {
	text-align: center;
	width: 100%;
	overflow: hidden;
}

div.gallery_preview_element {
	display: inline-block;
	float: left;
	cursor: pointer;
	overflow: hidden;
	margin-bottom: 2px;
}

div.gallery_preview_element_first {
	clear: left;
}

Scale12: scale(1.2,1.2);

div.gallery_view_main {
	background-image: url("/main_background.jpg");
	border: solid 1px black;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 100;
	box-shadow: 0 0 20px rgba(0,0,0,0.8);
	border-radius: 5px 5px;
}

img.gallery_view {
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	left: 0;
}

div.gallery_view_prev {
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	cursor: pointer;
	float: left;
	color: yellow;
	vertical-align: middle;
	text-align: center;
}

div.gallery_view_prev img:hover {
	-webkit-transform: Scale12;
	-ms-transform: Scale12;
	-o-transform: Scale12;
	-moz-transform: Scale12;
}

div.gallery_view_next {
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
	width: 100px;
	height: 100px;
	vertical-align: middle;
	cursor: pointer;
	float: left;
	color: yellow;
	vertical-align: middle;
	text-align: center;
}

div.gallery_view_next img:hover {
	-webkit-transform: Scale12;
	-ms-transform: Scale12;
	-o-transform: Scale12;
	-moz-transform: Scale12;
}

div.gallery_view_description_main {
	margin-top: 5px;
	margin-right: 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;

	background-color: #d0d0d0;
/*
	background-color: rgba(255,255,255,0.3);
*/
	position: absolute;
}

div.gallery_view_description_content {
	margin: 10px;
	width: 95%;
}

img.gallery_view_close {
	z-index: 10000;
	cursor: pointer;
	position: absolute;
}

img.gallery_view_close:hover {
	-webkit-transform: Scale12;
	-ms-transform: Scale12;
	-o-transform: Scale12;
	-moz-transform: Scale12;
}


div.gallery_old_el {
	margin: 1em;
	margin-bottom: 2em;
}

table.prices {
	border-collapse: collapse;
}

table.prices td,th {
	padding: 5px;
	border: 1px solid grey;
}

div.text_img {
	float: left;
	width: 30%;
	margin: 15px;
	text-align: center;
	font-size: 0.8em;
}

div.textbig_img {
	width: 100%;
	margin: 15px;
	text-align: center;
	font-size: 0.8em;
}

div.textbig_img img {
	width: 80%;
	border:2px solid grey;
	border-radius: 10px;
	cursor: pointer;
}


div.text_img_right {
	float: right;
}

div.text_img img {
	width: 100%;

	border:2px solid grey;
	border-radius: 10px;
}

Rotate0: rotate(0deg) scale(1);
Rotate2: rotate(-2deg) scale(1.05);

div.zoomable img {
	cursor: pointer;

	-webkit-transform: Rotate0;
	-moz-transform: Rotate0;
	-ms-transform: Rotate0;
	-o-transform: Rotate0;
	-webkit-transition: -webkit-transform 0.3s, box-shadow 0.5s;
	-moz-transition: -moz-transform 0.3s, box-shadow 0.5s;
	-ms-transition: -ms-transform 0.3s, box-shadow 0.5s;
	-o-transition: -o-transform 0.3s, box-shadow 0.5s;
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

div.zoomable img:hover {
	-webkit-transform: Rotate2;
	-moz-transform: Rotate2;
	-ms-transform: Rotate2;
	-o-transform: Rotate2;
	transform: Rotate2;
	box-shadow: 10px 10px 30px rgba(0,0,0,0.4);
}

div.main_info {
	margin: 15px;
	width: 43%;
	float: left;
}

div.coltitle_img {
	text-align: center;
}

div.coltitle_img img {
	width: 192px;
	border:2px solid grey;
	border-radius: 10px;
}

div.text_video {
	text-align: center;
}

h2.center {
	text-align: center;
}

iframe.youtube {
	border:2px solid grey;
}
