
RewriteEngine On
RewriteCond %{HTTP_HOST} ^tsandripsh-hotel.ru
RewriteRule (.*) http://www.tsandripsh-hotel.ru/$1 [R=301,L]

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"
